<% if notice %>
  <div class="row my-3">
    <h4 id="notice" class="p-3 mb-2 bg-success text-white"><%= notice %></h4>
  </div>
<% end %>
<div class="navbar navbar-dark bg-dark">
  <div class="row mx-1">
    <h1 class="navbar-text"><%= I18n.t('web.main.header') %></h1>
  </div>
  <div class="row mx-2">
    <%= button_to I18n.t('web.main.cancel'), cancel_order_index_url, method: :get, class: "btn btn-warning" %>
  </div>
</div>
<br />
<div class="row">
  <h4><%= "Available Slots #{@slots_count}" %></h4>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @vaccine_items.each do |item| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><strong><%= item.name %></strong><h5>
          <p class="card-text"><%= item.description %></p>
          <%= link_to I18n.t('web.main.register_text'), current_step_path(vaccine_pathname(item)), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>