<div class="row my-3">
  <h1><%= I18n.t('web.cancel_reservation.header') %></h1>
</div>
<br />
<div data-controller="cancel">
  <div class="card h-100">
    <div class="row m-5">
      <%= form_with url: false do |f| %>
        <div class="row my-1">
          <%= f.label :code, I18n.t('web.cancel_reservation.order_code'), class: 'w-25' %>
          <%= f.text_field :code, class: 'w-75', data: { cancel_target: 'code' } %>
        </div>
        <div class="row my-1">
          <%= f.label :mobile_phone, I18n.t('web.cancel_reservation.mobile_phone'), class: 'w-25' %>
          <%= f.text_field :mobile_phone, class: 'w-75', data: { cancel_target: 'mobile_phone' } %>
        </div>
      <% end %>
      <div class="col">
        <button type="button" data-action="click->cancel#findOrder" class='btn btn-success'>
          <%= I18n.t('web.cancel_reservation.find') %>
        </button>
      </div>
    </div>
  </div>
  <div class="col" data-cancel-target="order_info"></div>
</div>